*{
	box-sizing: border-box;
}
body{
	background-color: #f6f5f1;
}
#page{
	width: 1000px;
	margin: 0px auto;
	/*auto can giua*/
	min-height:500px;
	 /*lam xong thi xoa di*/
	 background-color: #fff;
}
nav#main-nav{
	background-color: yellow;
}
#body-page{ 
	background-color: #fff;
	min-height:500px;
}
section#left-page{
	width: 750px;
	padding: 10px;
	float: left;
	/*background-color: blue;*/
}

aside{
	width: 250px;
	padding: 10px;
	float: right;
	/*background-color: green;*/
}
.clr{clear:both;}
footer#under-page{
	background-color: #252525;
}
/*khoi*/
.block{
	width: 100%;
	-webkit-box-shadow: 0 7px 10px 0 #000000;
	box-shadow: 0 7px 10px 0 #000000;
}
.block header{
	border-top: 2px solid cyan;
}